/**** Main Nav ****/

.djtile-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #01010199;
    z-index: 99;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    &.fixedNavClass {
        position: fixed;
        width: 100%;
        top: -120px;
        left: 0;
        transition: transform .5s;
        transform: translateY(120px);
    }
}

.single-project-carousel {
    .elementor-swiper-button {
        background-color: #053E7D;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.elementor-swiper-button-prev {
            left: 119px;
        } 
        &.elementor-swiper-button-next {
            right: 119px;
        }   
    }
}

.djtile-projects-1 .savoye-project.section-padding {
    padding-top: 80px;
    & .savoye-project-filter {
        margin: 0 auto;
        max-width: 982px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & li {
            margin-left: 75px;
            margin-right: 0px;
            margin-bottom: 27px;
        }
    }
}
div.djtile-vl-container {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    .djtile-vl {
        border-left: 1px solid #1787D9;
        height: 75px;
    }
}


@media screen and (max-width:1024px) {
    .single-project-carousel {
        .elementor-swiper-button {
            &.elementor-swiper-button-prev {
                left: 20px;
            } 
            &.elementor-swiper-button-next {
                right: 20px;
            }   
        }
    }
}

@media screen and (max-width:767px) {
    .single-project-carousel {
        .elementor-swiper-button {
            &.elementor-swiper-button-prev {
                left: 10px;
            } 
            &.elementor-swiper-button-next {
                right: 10px;
            }   
        }
    }

    .djtile-projects-1 .savoye-project.section-padding {
        & .savoye-project-filter {
            & li {
                margin-left: 17px;
                margin-right: 17px;
                margin-bottom: 7px;
            }
        }
    }
}


/** Hero **/
.djt-hero.djt-hero-container .elementor-element.elementor-element-66c1223 .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
}

.djt-hero.djt-hero-container .owl-item [data-overlay-dark]::before {
    background: none;
}

.djt-hero.djt-hero-container .slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
    width: 30%;
}

@media screen and (max-width:767px) {
    .djt-hero.djt-hero-container .elementor-element.elementor-element-66c1223 .col-md-8 {
        padding-left: 15px;
    }

    .djt-wordbreak-none {
        display: none;
    }

    .djt-hero.djt-hero-container .slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
        width: 100%;
    }
}

